@using IdVerificationService.Web.Controllers
@{
    Layout = null;
}
@{
    ViewBag.Title = "Transkript Gönderme";
}
<!DOCTYPE html>
<html lang="tr">
<head>

    <style>
        body {
            background-image: url(https://www.koc.k12.tr/wp-content/themes/kocschool/img/lang_bg.jpg)
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Koç School: @ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="icon" type="image/png" href="https://www.koc.k12.tr/wp-content/themes/kocschool/favicon-32x32.png"
          sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.koc.k12.tr/wp-content/themes/kocschool/favicon-16x16.png"
          sizes="16x16" />

    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">

    <link rel="stylesheet" href="~/libs/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="~/libs/admin-lte/dist/css/adminlte.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box"></div>
    <div class="card card-outline card-primary"></div>
    <hr />
    <div class="card-header align-content-center">
        <img class="lang_logo" src="https://www.koc.k12.tr/wp-content/themes/kocschool/img/lang_logo.png">

        <br />
        <br />
        <h3 style="color:#ffebeb ">T.C. Kimlik No Doğrulama</h3>
        <br />
    </div>
    <div class="container col-6 col-md-4">
        <form name="tenantCreateForm" role="form" class="form-horizontal">
            <p class="login-box-msg" style="color:#ffebeb">T.C. Kimlik No Doğrulama Bilgileri</p>
            <div class="input-group mb-3">
                <input number type="text" maxlength="11" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control ng-pristine ng-invalid ng-touched" placeholder="TC Kimlik Numarası" id="CitizenId" name="CitizenId" autocomplete="off">
                <div class="input-group-append">
                </div>
            </div>
            <div class="input-group mb-3 ">
                <input type="text" oninput="this.value = this.value.toLowerCase()" class="form-control ng-pristine ng-invalid ng-touched" id="Name" placeholder="Adı" autocomplete="off">
                <div class="input-group-append">
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" oninput="this.value = this.value.toLowerCase()" class="form-control ng-pristine ng-invalid ng-touched" id="Surname" placeholder="Soyadı" autocomplete="off">
                <div class="input-group-append">
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="datetime" maxlength="4" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="BirthYear" placeholder="Doğum yılı" autocomplete="off">
                <div class="input-group-append">
                </div>
            </div>


            <div class="col-12">
                <button id="buttonValidation" type="button" class="btn btn-block btn-danger btn-valid">Doğrula</button>
            </div>
        </form>


    </div>

    @await Html.PartialAsync("../Shared/Layout/_Scripts.cshtml")


    <script src="~/libs/jquery/jquery.js"></script>

    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/libs/admin-lte/dist/js/adminlte.js"></script>
    <script src="~/view-resources/Views/Validation/Index.js"></script>
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
