@{
    ViewBag.Title = "Transkript Gönderme";

}
@using IdVerificationService.Web.Controllers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <style>
        body {
            background-image: url(https://www.koc.k12.tr/wp-content/themes/kocschool/img/lang_bg.jpg)
        }
        /* main */
        /* .header {
                                    align-content: center;
                                    width: 70%;
                                    background-color: #b0e0e6;
                                }*/

        html {
            font-family: 'Roboto', sans-serif;
        }



        /* buttons */
       
        .bn632-hover {
            width: 160px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: auto;
            height: 50px;
            text-align: center;
            border: none;
            background-size: 200% 100%;
            border-radius: 50px;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

            .bn632-hover:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }

            .bn632-hover:focus {
                outline: none;
            }

            .bn632-hover.bn28 {
                background-image: linear-gradient( to right, #b81515, #f15e64, #e14e53, #e2373f );
                box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
            }
            

        /* .btn-transparent-lblue,
                                                                                                                   a.btn-transparent-lblue {
                                                                                                                       border: 1px solid;
                                                                                                                       color: #005bb7;
                                                                                                                       background: transparent;
                                                                                                                       &:hover

                                                                                                                   {
                                                                                                                       border: 1px solid #005bb7;
                                                                                                                       color: #fff;
                                                                                                                       background: #005bb7;
                                                                                                                   }

                                                                                                                   }*/

        /*.btn-transparent,
                                                                                                                   a.btn-transparent {
                                                                                                                       border: 1px solid #004387;
                                                                                                                       color: #004387;
                                                                                                                       background: transparent;
                                                                                                                       &:hover

                                                                                                                   {
                                                                                                                       border: 1px solid #004387;
                                                                                                                       color: #fff;
                                                                                                                       background: #004387;
                                                                                                                   }

                                                                                                                   }*/

        /* cards */
        .color-block-wrapper {
            margin-top: 20px;
            -webkit-box-shadow: 0px 15px 30px 0px rgba(124, 124, 124, 0.15);
            -moz-box-shadow: 0px 15px 30px 0px rgba(124, 124, 124, 0.15);
            box-shadow: 0px 15px 30px 0px rgba(124, 124, 124, 0.15);
        }

        .color-block {
            color: #ffebeb;
            border-radius: 2px 2px 0 0;
            padding: 30px 40px 40px;
            height: 100px;
            margin-top: 10px;
            position: relative;
            &:before

        {
            content: '';
            border-radius: 2px 2px 0 0;
            width: calc(100% - 12px);
            height: 12px;
            position: absolute;
            top: -6px;
            left: 6px;
            opacity: 0.4;
            z-index: 20;
        }

        &:after {
            content: '';
            border-radius: 2px 2px 0 0;
            width: calc(50% - 24px);
            height: 12px;
            position: absolute;
            top: -12px;
            left: 12px;
            opacity: 0.3;
            z-index: 10;
        }

        }

        .color-block-head {
            opacity: 0.5;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 1;
            margin-bottom: 20px;
        }

        .color-block-bottom {
            background: #ffebeb;
            padding: 20px 20px;
        }

        .color-block-text {
            width: 200px;
            letter-spacing: 0.5px;
            font-size: 20px;
        }

        /* cards colors */
        .color-block-lblue {
            background: #800000;
            opacity: 0.7;
            z-index: 30;
            &:before

        {
            background: #0064ca;
        }

        &:after {
            background: black;
        }

        }

        .color-block-dblue {
            background: #800000;
            opacity: 0.7;
            &:before

        {
            background: #0c457e;
        }

        &:after {
            background: #135ba5;
        }

        }



        /* cards icons */
        .color-block-icon-list .color-block-text:after {
            content: '';
            display: block;
            width: 70px;
            height: 70px;
            position: absolute;
            background: url(https://image.ibb.co/nv13dV/icons.png) no-repeat;
            background-position: 10px -10px;
            right: 40px;
            top: calc(50% - 20px);
            opacity: 0.4;
        }

        .color-block-icon-person .color-block-text:after {
            content: '';
            display: block;
            width: 70px;
            height: 70px;
            position: absolute;
            background: url(https://image.ibb.co/nv13dV/icons.png) no-repeat;
            background-position: -60px -10px;
            right: 40px;
            top: calc(50% - 20px);
            opacity: 0.4;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        .card {
            box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
            margin-bottom: 1rem;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: darkred;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
        }

        .info, .success, .warning, .error, .validation {
            vertical-align: middle;
            border: 3px solid;
            margin: 10px 40px;
            padding: 15px 10px 15px 50px;
            background-repeat: no-repeat;
            background-position: 10px center;
        }

        .warning {
            color: #9F6000;
            background-color: #FEEFB3;
            background-image: url('https://i.imgur.com/Z8q7ww7.png');
        }

        .container {
            display: table;
            margin: 0 auto;
            width: 500px;
            padding: inherit;
        }

        #logo {
            line-height: 80px;
            height: 80px;
            text-align: center;
        }
        

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Koç School: @ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="https://www.koc.k12.tr/wp-content/themes/kocschool/favicon-32x32.png"
          sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.koc.k12.tr/wp-content/themes/kocschool/favicon-16x16.png"
          sizes="16x16" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div id="logo">
        <img src="https://www.koc.k12.tr/wp-content/themes/kocschool/img/lang_logo.png">
    </div>
    <br />
    <br />
    <div class="container">
        @{
            if (ViewBag.IsError == true)
            {
                                                        <div class="warning">
                                                            <p>
                                                                Kullanıcı Bilgileri Sistemde Yok!

                                                            </p>
                                                        </div>

            }
            else
            {
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="color-block-wrapper">
                                                                    <div class="color-block color-block-lblue color-block-icon-list">
                                                                        <div class="color-block-head">
                                                                            E-Mail ile gönder
                                                                        </div>
                                                                        <div class="color-block-text">
                                                                            @ViewBag.Email
                                                                        </div>
                                                                    </div>
                                                                    <div class="color-block-bottom">
                                                                        <button class="bn632-hover bn28">Gönder</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="color-block-wrapper">
                                                                    <div class="color-block color-block-dblue color-block-icon-person">
                                                                        <div class="color-block-head">
                                                                            Telefonuma gönder
                                                                        </div>
                                                                        <div class="color-block-text">
                                                                            <div>
                                                                                <p> @ViewBag.PhoneNumber </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="color-block-bottom">
                                                                        <button class="bn632-hover bn28">Gönder</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
            }
        }

        @*<div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        This is an alert box.*@
    </div>

</body>
</html>
