@{
    ViewBag.Title = "E-mail or Phone";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-mail or Phone</title>
    <link href="~/css/style.css" rel="stylesheet"/>

</head>
<body>
    <h2>E-mail or Phone</h2>
    <button type="button" class="btn btn-block btn-success btn-xs">Success</button>

   
</body>
</html>
